.leftmenu a {
    color: rgb(145, 204, 198);
}
.join_conv a {
    color: rgb(145, 204, 198);
}
.article1 {
    border-color:rgb(199, 198, 198);
}
.article2 {    
    border-color:rgb(199, 198, 198);
}
.article3 {    
    border-color:rgb(199, 198, 198);
}
.article4 {    
    border-color:rgb(199, 198, 198);
}
.title1 {
    color: rgb(145, 204, 198);
}
.read1 {
    color: rgb(145, 204, 198);
}
.read2 {
    color: rgb(145, 204, 198);
}
.read3 {
    color: rgb(145, 204, 198);
}
.read4 {
    color: rgb(145, 204, 198);
}
.may1 {
    color: gray;
}
.may2 {
    color: gray;
}
.may3 {
    color: gray;
}
.may4 {
    color: gray;
}