.menu1 a{
    color: #000;
}
.menu1 li {
    color: black;
}
.home a:hover {
    color: white;
}
.contact a:hover {
    color: white;
}
.FI {    
    color: white;
}
.FY {
    color: black;
}
.tel {
    color: white;
}
.Ch {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eaecec), to(#b5b6b6));
}
.Ch a:hover {
    color: white;
}
.lets {
    color: rgb(100, 99, 99);
}
.we {
    color: rgb(190, 190, 190);
}
.line1 {
    color: grey;
}
.wlcm {
    color: black;
}
.line2 {
    color:olivedrab;
}
.green_dot a {
    color: orange;
}
.green_dot a:hover {
    color: olivedrab;
}
.form {
    background-color: rgb(247, 247, 247);
}
.UL {
    color:olivedrab;
}
.lb {
    color: white;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e99138), to(#f38d18));
}
.lb a:hover {
    color: olivedrab;
}
.od a{
    color: grey;
}
.od a:hover {
    color: olivedrab;
}
.dot {
    color: orange;
}
.link3 a {
    color: orange;
}
.link3 a:hover {
    color: olivedrab;
}
.green_dot2 a {
    color: orange;
}
.green_dot2 a:hover {
    color: olivedrab;
}
.green_dot23 a {
    color: orange;
}
.green_dot23 a:hover {
    color: olivedrab;
}
.ln {
    color: orange;
}
.news {
    background-color: rgb(247, 247, 247);
}
.july {
    color: green;
}
.green_dot3 a {
    color: orange;
}
.green_dot3 a:hover {
    color: olivedrab;
}
.menu a {
    color: orange;
}
.menu a:hover {
    color:olivedrab;
}
.menu2 a {
    color:orange;
}
.copiright {
    color: rgb(170, 169, 169);
}