.menu1 a{
    color: #000;
}
.menu1 li {
    color: black;
}
.menu1 a:hover {
    color: white;
}
.contact a:hover {
    color: white;
}
.FI {    
    color: white;
}
.FY {
    color: black;
}
.tel {
    color: white;
}
.Ch {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#868686));
}
.Ch a:hover {
    color: orange;
}
.lets {
    color: rgb(100, 99, 99);
}
.we {
    color: rgb(190, 190, 190);
}
.line1 {
    color: grey;
}
.wlcm {
    color: black;
}
.line2 {
    color:olivedrab;
}
.line3 {
    color: gray;
}
.text1 {
    color: gray;
}
.volutpat {
    color: gray;
}
.green_dot a {
    color: orange;
}
.green_dot a:hover {
    color: olivedrab;
}
.form {
    background-color: rgb(247, 247, 247);
    border-color: gray;
}
.UL {
    color:olivedrab;
}
.un {
    color: rgb(63, 63, 63);
}
.lb {
    color: white;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8000), to(#cf6f00));
}
.lb a:hover {
    color: olivedrab;
}
.£ {
    color: rgb(170, 169, 169);
}
.od a{
    color: rgb(63, 63, 63);
}
.od a:hover {
    color: olivedrab;
}
.dot {
    color: orange;
}
.link3 a {
    color: orange;
}
.link3 a:hover {
    color: olivedrab;
}
.green_dot2 a {
    color: orange;
}
.green_dot2 a:hover {
    color: olivedrab;
}
.green_dot23 a {
    color: orange;
}
.green_dot23 a:hover {
    color: olivedrab;
}
.ln {
    color: orange;
}
.news {
    background-color: rgb(247, 247, 247);
}
.july {
    color: olivedrab;
}
.news_text {
    color: grey;
}
.green_dot3 a {
    color: orange;
}
.green_dot3 a:hover {
    color: olivedrab;
}
.menu a {
    color: orange;
}
.menu2 a:hover {
    color:olivedrab;
}
.menu2 a {
    color:orange;
}
.copiright {
    color: rgb(112, 112, 112);
}