.footer {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}
.bottommenu {
    width: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
}
.bottommenu a {
    color:rgb(145, 204, 198);
}
.bottommenu a {
    width: 100%;
}
.net {
    width: 100%;
}
.leftside {
    width: 97%;
}
.rightside {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom_text {
    display: flex;
    justify-content: right;
}