.menu2 a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.menu2 {
    padding: 0px;
    margin: 0px 0;
    text-align: center;
}
.menu2 li {
    position: relative;
    top: 50px;
    right: 0px;
    font-family: Arial;
    display:inline-block;
    margin-right: 10px;
}
.footer:before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    height: 122px;
    background: url(../img/footer_bg.jpg) repeat-x;
}
.copiright {
    position: relative;
    margin-left: 60px;
    font-size: 12.5px;
}