.bgimg {
    max-width: 1000px
}
.fresh {
    font:bold;
}
.menu1 {
    list-style-type: none;
    text-align: center;
}
.menu1 a:hover {
    background: url(../img/home_hover.jpg) center no-repeat;
}
.contact a:hover {
    background: url(../img/contact_hover.jpg) center no-repeat;
}
.menu1 a {
    padding: 12px 18px 12px 18px;
}
.menu1 li {
    position: relative;
    top: -522px;
    left: 201px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    display:inline-block;
    margin-left: 5px;

}
.FI {
    text-align: left;
    padding: 0;
    width: 410px;
    font-size: 37px;
    position: relative;
    left: 540px;
    top: -370px;
}
.FY {
    font-weight: lighter;
    font-size: 38px;
}
.tel {
    position: relative;
    top: -515px;
    left: 795px;
    padding: 0;
    font-size: 15px;
    font-family: Arial;
}
.logo {
    position: relative;
    top: -238px;
    left: 8px;
}
.lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    min-width: 100px;
    line-height: 18px;
    font-weight: bold;
}
.Ch {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#949494));
    height: 30px;
    width: 90px;
    border-style:solid;
    border-radius: 7px;
    font-weight: bold;
}
.header:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    height: 524px;
    right: 0;
    background: url(../img/top_bg.jpg) repeat-x;
}