.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -90px;
}
.mainpic {
    width: 100%;
}
.mainphoto_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -180px;
}
.share {
    margin: 0;
    padding: 0 0 0 2%;
    line-height: 50%;
    font-size: 150%;
    width: 40%;
    opacity: 0.6;
    background-color: rgb(204, 204, 204);
}
.submit {
    margin: 0;
    font-size: 70%;
    line-height: 30%;
    padding: 0 0 0 2%;
    width: 60%;
    color: white;
    background-color: black;
}
.headermenu {
    line-height: 250%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgb(230, 252, 250);
}
.headermenu a {
    color:turquoise;
    font-weight: bold;
}
