.container {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.menu {
    width: 15%;
    margin: 0 0% 0 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}
.main {
    width: 65%;
    margin: 0 0 0 2%;
}
.logo {
    padding-left: 20%;
}
.leftmenu {
    width: 100%;
    margin-left: 10%;
}
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 60px;
}
.image1 {
    background-image: url(../img/icon1.png);
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.image2 {
    background-image: url(../img/icon2.png);
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.image3 {
    background-image: url(../img/icon3.png);
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.image4 {
    background-image: url(../img/icon4.png);
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.image5 {
    background-image: url(../img/icon5.png);
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.join_conv a {
    font-family: serif;
    font-weight: bold;
}
.dots {
    width: 100%;
    margin: 0;
    border-left: none;
    border-top: 2px dotted;
    border-right: none;
}
.email {
    height: 16px;
    border-style: ridge;
    border-radius: 5px;
}
.button {
    height: 25px;
}
.subscribe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.subscribetext {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.emailform {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.text_login {
    margin: 0;
    padding: 2%;
}
.subscribe img {
    width: 6%;
}
.button a {
    color: rgb(145, 204, 198);
    font-weight: bold;
    font-family: serif;
}
.content {
    width: 100%;
}
.foodphotos {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.topphotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottomphotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.photo1 {
    width: 48%;
}
.photo1 img{
    width: 100%;
}
.photo2 {
    width: 48%;
}
.photo2 img{
    width: 100%;
}
.photo3 {
    width: 48%;
}
.photo3 img{
    width: 100%;
}
.photo4 {
    width: 48%;
}
.photo4 img{
    width: 100%;
}
@media screen and (max-width: 1024px){

    .logo {
        padding: 0;
    }
    .mainphoto_text {
        margin-top: 7%;
    }
    .headermenu li{
        display: none;
    }
    .share {
        min-width: 98%;
    }
    .submit {
        min-width: 98%;
    }
    .emailform {
        width: 100%;
        margin-bottom: 2%;
    }
    .email {
        width: 65%;
    }
    .button {
        width: 25%;
    }
    .lmtext {
        display: none;
    }
    .leftmenu {
        width: 60%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu_main {
        display: flex;
        flex-direction: column;
    }
    .menu {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
    }
    .menu li {
        justify-content: space-around;
    }
    .Tastemakers {
        list-style-image: none;
    }
    .Blog {
        list-style-image: none;
    }
    .List {
        list-style-image: none;
    }
    .Contribute {
        list-style-image: none;
    }
    .About {
        list-style-image: none;
    }    
    .main {
        width: 100%;
        margin: 0;
    }
    .foodphotos {
        display: flex;
        flex-direction: column;
    }
    .bottommenu {
        display: flex;
        justify-content: space-between;
    }
    .image1 {
        display: none;
    }
    .image2 {
        display: none;
    }
    .image3 {
        display: none;
    }
    .image4 {
        display: none;
    }
    .image5 {
        display: none;
    }
    

}

@media screen and (max-width: 768px){

    .logo {
        padding: 0;
    }
    .headermenu li {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction:column-reverse;
    }
    .mainphoto_text {
        margin-top: 7%;
    }
    .share {
        margin-top: 30%;
    }
    .subscribe {
        width: 100%;
    }
    .leftmenu {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .foodphotos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
    }
    .topphotos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .bottomphotos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .photo1 {
        width: 96%;
    }
    .photo2 {
        width: 96%;
    }
    .photo3 {
        width: 96%;
    }
    .photo4 {
        width: 96%;
    }
    .image1 {
        display: none;
    }
    .image2 {
        display: none;
    }
    .image3 {
        display: none;
    }
    .image4 {
        display: none;
    }
    .image5 {
        display: none;
    }

}