* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    -webkit-box-sizing: border-box;
}
html {
    width: 1000px;
    height: 1600px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: larger;
    font-family: Arial;
}
.menu-item-li:hover {
    background: url(/img/home_hover.jpg) no-repeat;
}
.lets {
    position: relative;
    top: -194px;
    left: -90px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial;
    font-weight: bolder;
}
.create {
    position: relative;
    top: -242px;
    left: 111px;
    font-size: 24.2px;

}
.we {
    position: relative;
    top: -243px;
    left: 112px;
    font-weight: lighter;
    font-size: 16px;
}
.growth {
    position: relative;
    top: -140px;
    right: -80px;
}
article {
    position: relative;
    height: 360px;
}
.welcome {
    width: 650px;
    position: relative;
    top: -395px;
    left: 30px;
    padding: 0;
    font-family: Arial;
    float: left;
}
.line1 {
    font-size: 22px;
}
.wlcm {
    font-size: 30px;
}
.line2 {
    font-weight: bold;
    font-size: 13px;
}
.line3 {
    font-size: 12.5px;
    font-weight: normal;
    line-height: 16px;
}
.green_dot {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.form {
    padding: 0 35px 15px 35px;
    width: 255px;
    border-radius: 10px;
    border-style: solid;
    position: relative;
    top: -37px;
    outline border-radius: 1px 
}
.UL {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -60px;
    right: -15px;
    font-weight: bold;
    font-size: 150%;
    width: 250px;
}
.un {
    padding: 0px 0 5px 10px;
    font-size: 11px;
    top: -50px;
    right: -30px;
}
.login {
    float: right;
    width: 12%;
    position: relative;
    top: -850px;
    left: -230px;
}
.lb {
    height: 25px;
    width: 70px;
    border-style:solid;
    border-radius: 13px;
    font-weight: bold;
}
.od {
    font-size: 65%;
    padding: 10px 0 5px 0px;
}
.£ {
    border-radius: 13px;
    border-style:inset;
    height: 25px;
    width: 180px;
}
.work { 
    font-size: 24px;
}
.clock {
    position: relative;
    top: -38px;
    left: -620px;
}
.link3 {
    position: relative;
    top: -105px;
    right: -120px;
    width: 150%;
    font-size: 13px;
    font-weight: bolder;
    line-height: 11px;
}
.text1 {
    position: relative;
    top: -87px;
    right: -120px;
    width: 120%;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}
.green_dot2 {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -120px;
    top: -85px;
}
.green_dot23 {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -150px;
    top: -155px;
}
.dots {
    position: relative;
    right: 0px;
    top: 0px;
}
.men {
    position: relative;
    top: -92px;
    left: -620px;
}
.volutpat {
    position: relative;
    top: -88px;
    left: 770px;
    width: 120%;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}
.dots2 {
    position: relative;
    left: 0px;
    top: 0px;
}
.dots3 {
    position: relative;
    right: 0px;
}
.container2 {
    position: relative;
    left: 65px;
    top: 97px;
}
.event {
    position: relative;
    right: 20px;
}
.ln {
    font-size: 25px;
    position: relative;
    right: -40px;
    top: -45px;
}
.news {
    width: 255px;
    border-radius: 10px;
    padding: 0 35px 0 20px; 
    margin: -25px 0 0 0;
    outline border-radius: 1px solid rgb(224, 223, 223);
}

.news_text {
    position: relative;
    top: -30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
}
.july {
    position: relative;
    right: -35px;
    top: -20px;
    font-size: 75%;
    font-weight: bold;
}
.LID {
    font-size: 70%;
    position: relative;
    top: -15px;
    right: -35px;
    width: 170px;
    font-weight: normal;
}
.green_dot3 {
    position: relative;
   font-size: 12px;
   font-weight: bold;
   right: -35px;
   margin: -5px 0 5px 0;
}